.Rproj.user
.Rhistory
.RData
.Ruserdata
synchrony.Rproj

**/data/eobs/

**/scripts/old/

archive/
docs/plosbiol

*.bst
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.png
*.bcf
*.xml
*.fdb_latexmk
*.fls
*blx.bib

